<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>version</string>
			<key>Key</key>
			<string>version_preference</string>
			<key>DefaultValue</key>
			<string>1.0.0</string>
		</dict>
        <dict>
            <key>Type</key>
            <string>PSTitleValueSpecifier</string>
            <key>Title</key>
            <string>author</string>
            <key>Key</key>
            <string>app_author</string>
            <key>DefaultValue</key>
            <string>Bondar Yaroslav</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSTitleValueSpecifier</string>
            <key>Title</key>
            <string>email</string>
            <key>Key</key>
            <string>author_email</string>
            <key>DefaultValue</key>
            <string>zdaecq@gmail.com</string>
        </dict>
	</array>
</dict>
</plist>
