# Data base
github "realm/realm-cocoa"

# Async
github "mxcl/PromiseKit" ~> 4.0

# Data mapping
github "Hearst-DD/ObjectMapper" ~> 2.2

# Networking
github "Alamofire/Alamofire" ~> 4.4
github "Alamofire/AlamofireNetworkActivityIndicator" ~> 2.0
github "onevcat/Kingfisher" ~> 3.0

# Animation
# github "lkzhao/Hero"

# DI
# github "AliSoftware/Dip"

# UI
github "bonyadmitr/KeyboardHideManager" "develop"

# UI Tests
github "shinydevelopment/SimulatorStatusMagic"

# DI
github "AliSoftware/Dip"