# Full gitignore can be found here:
# https://raw.githubusercontent.com/github/gitignore/master/Swift.gitignore

# Xcode
xcuserdata/
*.xcuserstate

# CocoaPods
*.xcworkspace/
Pods/

# Carthage
Carthage/

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Gitignore.md

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output